@import "/codeLib/reset";
// @import "/codeLib/bourbon/bourbon";
@import "bootstrap";

@import "styles";


$twitter-blue: #4099FF;


#tweet-controls{
	display: none;
}

div#main{
	margin-bottom: 40px;
}

div.active{
	textarea{
		height: 5em;
	}
	#tweet-controls{
		opacity: 1;
		display: block;
	}
}

#char-count.longTweet{
	color: red;
}

div.tweet{
	position: relative;
}

// the wrapper is just so the icons don't push rest of content and look bad

div.tweet-actions-wrapper{
	min-height: 20px;
	right: 0;
	top: 0;
	position: absolute;
	display: none;
	div.tweet:hover &{
		display: inline;
	}
}

div.statsreply-wrapper{
	display: none;
}

div.tweet:hover{
	cursor: pointer;
}

button.createRandom{
	margin: 50px 0 30px 20px;
	padding: 8px;
	font-size: 15px;
	background: $twitter-blue;
	color: #F2F1EF;
	@include transition(.3s ease);
	&:hover{
		cursor: pointer;
		background: darken($twitter-blue, 10%);
		@include transition(1s ease);
	}
}



























