@import "/codeLib/reset";
// @import "/codeLib/bourbon/bourbon";
@import "bootstrap";

@import "styles";

#tweet-controls{
	display: none;
}

div#main{
	margin-bottom: 40px;
}

div.active{
	textarea{
		height: 5em;
	}
	#tweet-controls{
		opacity: 1;
		display: block;
	}
}

#char-count.longTweet{
	color: red;
}

div.tweet{
	position: relative;
}

// the wrapper is just so the icons don't push rest of content and look bad

div.tweet-actions-wrapper{
	min-height: 20px;
	right: 0;
	top: 0;
	position: absolute;
	display: none;
	div.tweet:hover &{
		display: inline;
	}
}

div.statsreply-wrapper{
	display: none;
}

div.tweet:hover{
	cursor: pointer;
}




























